{
  "Logging": {
    "LogLevel": {
      "Default": "Warning",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "ConnectionStrings": {
    "DefaultConnection": "Server=localhost,1433;Database=XXXXXXXXXX;User Id=XXXXXXXXX;Password=XXXXXXXXX;Encrypt=True;TrustServerCertificate=True"
  }
}
